.c-filter {
  display: flex;
  padding: 50px;
  align-items: center;
  height: auto;
  background-color: white;
  margin-top: -80px;
  z-index: 10;
  position: relative;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  .ant-form-item {
    margin-bottom: 0;
  }
  .ant-btn {
    width: 100%;
  }

  .ant-select {
    font-size: 30px;
  }
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
    .ant-select-selector {
    height: 60px;
    padding: 11px 25px;
    font-family: 'Asap', sans-serif;
    border-radius: 30px;
  }
  .ant-btn {
    font-family: 'Asap', sans-serif;
    font-size: 25px;
    height: 60px;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    margin-right: 20;
  }
  .ant-select-selection-item {
    text-align: center;
  }
  .ant-select-selection-placeholder {
    text-align: center;
  }

  .ant-select-arrow {
    transform: scale(2.5);
    margin-right: 30px;
    svg {
      fill: $blue;
    }
  }
}

.c-filter__content {
  margin: 0 auto;
  width: 100%;
}
